go 1.26.0

use (
	./shared
	./user
)

// По мере добавления сервисов на следующих неделях добавляй сюда:
// ./url       (вторая неделя)
// ./gateway   (третья неделя)
// ./analytics (четвёртая неделя)
